%h1 Resend confirmation instructions
%br
= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, :id => "clientLogin" }) do |f|

  - if @user.errors.any?
    .alert.alert-error
      - @user.errors.full_messages.each do |message|
        %li= message
        %br
    %br

  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
  %br/
  .actions
    = f.submit "Resend confirmation instructions", class: 'btn btn-primary', id: 'resend_confirmation'
  %p
    = render "users/shared/links"
