%h1 New Issue Summary
%br

= form_for @issue_sum, url: issue_summaries_path, html: { class: "clientside_validation" } do |f|
  .row
    .form-group
      .col-md-2
        = f.label :name
        = "*"
      .col-md-10
        = f.text_field :name, class: "form-control require_validation length_validation", maxlength: "20"
  %br/
  .row
    .col-md-6
      .actions
        = f.submit "Create", class: 'btn btn-primary'
        = f.button "Reset", type: :reset, class: "btn btn-primary"
        = link_to "Back", issue_summaries_path , class: 'btn btn-primary button', id: 'back-button'