%h1 Issue Summary List
%br/

%table#myTable.table.table-striped.table-bordered
  %thead
    %tr
      %th Issue Summary Id
      %th Name
      %th Created_At
      %th Action

  %tbody
    - @issue_sums.each do |issue_sum|
      %tr
        %td
          = issue_sum.id
        %td
          = issue_sum.name
        %td
          = issue_sum.created_at.in_time_zone("Asia/Kolkata").strftime("%d/%m/%Y %H:%M %p")
        %td
          = link_to issuesummary_path(issue_sum), class: "tag-tooltip", :data => {:toggle=>"tooltip"}, 'data-original-title' => "View", 'data-placement' => 'right' do
            %i.glyphicon.glyphicon-eye-open
          = link_to edit_issuesummary_path(issue_sum), class: "tag-tooltip", :data => {:toggle=>"tooltip"}, 'data-original-title' => "Edit", 'data-placement' => 'right' do
            %i.glyphicon.glyphicon-pencil
          = link_to issuesummary_path(issue_sum), class: "tag-tooltip", :data => {:toggle=>"tooltip"}, 'data-original-title' => "Delete", 'data-placement' => 'right', method: :delete, data: { confirm: 'Are you sure you want to delete Issue_Summary? Once you delete issue_summary the tickets related issue_summary also deleted?' } do
            %i.glyphicon.glyphicon-remove