%h1 New Issue Summary
%br

= form_for(@issue_sum, url: {action: "create"}) do |f|
  .row
    .col-md-2
      = f.label :name
      = "*"
    .col-md-10
      = f.text_field :name
  %br/
  .row
    .col-md-6
      .actions
        = f.submit "Create", class: 'btn btn-primary'
        = f.button "Reset", type: :reset, class: "btn btn-info"
        = link_to "Back", issuesummaries_path , class: 'btn btn-info button', id: 'back-button'