%h1 Deleted Users
%br/

%table#myTable.table.table-striped.table-bordered
  %thead
    %tr
      %th User Id
      %th Full Name
      %th Email
      %th Deleted_At
      %th Action

  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.id
        %td
          = user.fullname.blank? ? "N/A" : user.fullname
        %td
          = user.email
        %td
          = user.deleted_at.in_time_zone("Asia/Kolkata").strftime("%d/%m/%Y %H:%M %p")
        %td
          = link_to 'Restore', restore_user_path(user), class: 'btn btn-primary button'
