%h1 Users
%br/

%table#myTable.table.table-striped.table-bordered
  %thead
    %tr
      %th User Id
      %th Full Name
      %th Email
      %th Created_At
      %th Action

  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.id
        %td
          = user.fullname.blank? ? "N/A" : user.fullname
        %td
          = user.email
        %td
          = user.created_at.in_time_zone("Asia/Kolkata").strftime("%d/%m/%Y %H:%M %p")
        %td
          = link_to user, class: "tag-tooltip", :data => {:toggle=>"tooltip"}, 'data-original-title' => "View", 'data-placement' => 'right' do
            %i.glyphicon.glyphicon-eye-open
          = link_to user, class: "tag-tooltip", :data => {:toggle=>"tooltip"}, 'data-original-title' => "Delete", 'data-placement' => 'right', method: :delete, data: { confirm: 'Are you sure you want to delete user? Once you delete user the tickets related user also deleted?' }do
            %i.glyphicon.glyphicon-remove