%h1 Show a User

%br/
.row
  .col-md-3
    %strong User Id
  .col-md-9
    = @user.id
%br/
.row
  .col-md-3
    %strong Full Name
  .col-md-9
    = @user.fullname.blank? ? "N/A" : @user.fullname
%br/
.row
  .col-md-3
    %strong Phone
  .col-md-9
    = @user.phone.blank? ? "N/A" : @user.phone
%br/
.row
  .col-md-3
    %strong Email
  .col-md-9
    = @user.email
%br/
.row
  .col-md-3
    %strong Created At
  .col-md-9
    = @user.created_at.in_time_zone("Asia/Kolkata").strftime("%d/%m/%Y %H:%M %p")

%br/
= link_to "Back", users_path, class: 'btn btn-primary button'