%h1 Department Edit
%br

= form_for(@department, url: {action: "update"}) do |f|
  .row
    .col-md-2
      = f.label :name
    .col-md-10
      = f.text_field :name, class: "form-control"
  .row
    .col-md-6
      .actions
        %br/
        = f.submit "Update", class: 'btn btn-primary'
        = link_to "Back", departments_path , class: 'btn btn-primary button', id: 'back-button'
