%h1 Tickets
%br/

%table#myTable.table.table-striped.table-bordered
  %thead
    %tr
      %th Ticket Id
      %th Issue Summary
      %th Status
      %th Action

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td
          = ticket.id
        %td
          = ticket.issue_summary.nil? ? "N/A" : ticket.issue_summary.name
        %td
          = ticket.status
        %td
          = link_to ticket do
            %i.glyphicon.glyphicon-eye-open
          = link_to ticket, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.glyphicon.glyphicon-remove
