%h1 Tickets
%br/

%table#myTable.table.table-striped.table-bordered
  %thead
    %tr
      %th Ticket Id
      %th Issue Summary
      %th Status
      -if current_user.has_role? :admin
        %th Created By
        %th Location
      %th Created_at
      %th Action

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td
          = ticket.id
        %td
          = ticket.issue_summary.nil? ? "N/A" : ticket.issue_summary.name
        %td
          = ticket.status
        -if current_user.has_role? :admin
          %td
            = ticket.user.fullname.blank? ? ticket.user.email : ticket.user.fullname
          %td
            = ticket.location
        %td
          = ticket.created_at.in_time_zone("Asia/Kolkata").strftime("%d/%m/%Y %H:%M %p")
        %td
          = link_to ticket do
            %i.glyphicon.glyphicon-eye-open
          = link_to ticket, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.glyphicon.glyphicon-remove
