%h1 Show a Ticket
= form_for @ticket, url: update_status_ticket_path(@ticket), method: :put do |f|
  %br/
  .row
    .col-md-2
      %h5
        %strong Ticket No.
    .col-md-4
      %h5
        %strong
          = @ticket.id
  %br/
  .row
    .col-md-2
      -if current_user.has_role? :admin
        %strong Created By
      -else
        %strong Name
    .col-md-4
      -if current_user.has_role? :admin
        = @ticket.user.fullname.blank? ? @ticket.user.email : @ticket.user.fullname
      -else
        = @ticket.user.fullname.blank? ? "N/A" : @ticket.user.fullname
    .col-md-2
      %strong Department
    .col-md-4
      = @ticket.department.nil? ? "N/A" : @ticket.department.name
  %br/
  .row
    .col-md-2
      %strong Location
    .col-md-4
      = @ticket.location
    .col-md-2
      %strong Created At
    .col-md-4
      = @ticket.created_at.in_time_zone("Asia/Kolkata").strftime("%d/%m/%Y %H:%M %p")
  %br/
  .row
    .col-md-2
      %strong Issue Summary
    .col-md-4
      = @ticket.issue_summary.nil? ? "N/A" : @ticket.issue_summary.name
    .col-md-2
      %strong Status
    .col-md-4
      - if current_user.has_role? :admin
        = f.select :status ,[['Open','Open'],['In progress','In Progress'],['Completed','Completed']]
        = f.submit "Update", class: 'btn btn-primary button'
      - else
        = @ticket.status
  %br/
  .row
    .col-md-2
      %strong Issue Details
    .col-md-4
      = @ticket.issue_details
    .col-md-2
      %strong File
    .col-md-4
      -if @ticket.image_file_name.nil?
        = "N/A"
      -else
        = link_to image_tag(@ticket.image.url, class: 'media-object', :style => "height: 50%; width: 100%;"), @ticket.image.url

%br/
.row
  .col-md-12
    %strong All Posts
%br/
.row
  .col-md-12
    = render :partial => "posts/all_posts"

%br/
.row
  .col-md-10
    = render :partial => "posts/form"

= tinymce