%h1 Show a Ticket
= form_for @ticket, :url => {:controller => 'tickets', :action => 'update_status'}, method: :put do |f|
  - if current_user.has_role? :admin
    %br/
    .row
      .col-md-3
        %strong Name
      .col-md-9
        = @ticket.user.fullname
  %br/
  .row
    .col-md-3
      %strong Ticket No.
    .col-md-9
      = @ticket.id
  %br/
  .row
    .col-md-3
      %strong Department
    .col-md-9
      = @ticket.department.name
  %br/
  .row
    .col-md-3
      %strong Issue Summary
    .col-md-9
      = @ticket.issue_summary.name
  %br/
  .row
    .col-md-3
      %strong Issue Details
    .col-md-9
      = @ticket.issue_details
  %br/
  .row
    .col-md-3
      %strong File
    .col-md-9
      = link_to image_tag(@ticket.image.url, class: 'media-object', :style => "height: 50%; width: 50%;"), @ticket.image.url
  %br/
  .row
    .col-md-3
      %strong Location
    .col-md-9
      = @ticket.location
  %br/
  .row
    .col-md-3
      %strong Status
    .col-md-9
      - if current_user.has_role? :admin
        = f.select :status ,[['Open','Open'],['In progress','In Progress'],['Completed','Completed']]
        = f.submit "Update"
      - else
        = @ticket.status
%br/
= link_to "Back", tickets_path, class: 'btn btn-info button'