!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TMS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    / %p.notice= notice
    / %p.alert= alert
    / = yield

    #container
      #header
        %a#logo.pull-left{:href => "/helpdesk/index.php", :title => "Support Center"}
          %span.valign-helper
          %img{:alt => "c-metric", :border => "0", :src => "/helpdesk/logo.php"}
      .clear
      %nav.navbar.navbar-inverse
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "#"} C-Metric
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                %a.cus-navbar{:href => "/home"} Home
              %li.dropdown
                %a.cus-navbar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  Tickets
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "/tickets"} Tickets
                    %li.divider{:role => "separator"}
                  %li
                    %a{:href => "/tickets/new"} New Ticket
                  %li
                    %a{:href => "/tickets/deleted"} Deleted
              -if current_user
                -if current_user.has_role? :admin
                  %li.dropdown
                    %a.cus-navbar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      Users
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/users"} List
                        %li.divider{:role => "separator"}
                      %li
                        %a{:href => "/users/deleted"} Deleted
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                - if current_user
                  %a.cus-navbar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    = current_user.fullname.blank? ? current_user.email : current_user.fullname
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "/users/edit"} Profile
                    %li.divider{:role => "separator"}
                    %li
                      = link_to 'Sign out', destroy_user_session_path , :method => :delete
                - else
                  %a{:href => "/users/sign_in"} Sign in
          / /.navbar-collapse
        / /.container-fluid

      #content
        .row
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-#{name}"
        = yield

    #footer
      %p Copyright © 2016 C-Metric - All rights reserved.
      / %a#poweredBy{:href => "http://osticket.com", :target => "_blank"} Helpdesk software - powered by osTicket