!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TMS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header
      .navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "/home"} C-Metric
          .navbar-collapse.collapse.navbar-right
            %div{"data-turbolinks" => "false"}
              %ul.nav.navbar-nav
                %li#home
                  %a{:href => "/home"} HOME
                -if current_user
                  -if current_user.has_role? :admin
                    %li#users.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        USER
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          %a{:href => "/users"} List
                        %li
                          %a{:href => "/users/deleted"} Deleted
                    %li#departments.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        DEPARTMENT
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          %a{:href => "/departments"} List
                        %li
                          %a{:href => "/departments/new"} New
                        %li
                          %a{:href => "/departments/deleted"} Deleted
                    %li#issuesummaries.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                        ISSUE SUMMARY
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          %a{:href => "/issue_summaries"} List
                        %li
                          %a{:href => "/issue_summaries/new"} New
                        %li
                          %a{:href => "/issue_summaries/deleted"} Deleted

                  %li#tickets.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      TICKET
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/tickets"} List
                      %li
                        %a{:href => "/tickets/new"} New
                      %li
                        %a{:href => "/tickets/deleted"} Deleted
                %li#user_profile.dropdown
                  - if current_user
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      = current_user.fullname.blank? ? current_user.email : current_user.fullname
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/users/edit"} Profile
                      %li.divider{:role => "separator"}
                      %li
                        = link_to 'Sign out', destroy_user_session_path , :method => :delete
                  - else
                    %a{:href => "/users/sign_in"}SIGN IN

    #content
      .row
        .col-xs-2
        .col-xs-8
          = render 'layouts/flash_messages'
          = yield
        .col-xs-2

    #footerwrap
      .row
        .col-lg-4
          %h4 About
          .hline-w
          %p A ticket management system is specifically designed to report various issues.