!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TMS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    / %p.notice= notice
    / %p.alert= alert
    / = yield

    #container
      #header
      .clear
      %nav.navbar.navbar-inverse
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .navbar-brand C-Metric
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li#home.nav-li
                %a.cus-navbar{:href => "/home"} Home
              -if current_user
                %li#tickets.dropdown.nav-li
                  %a.cus-navbar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Ticket
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "/tickets"} List
                    %li
                      %a{:href => "/tickets/new"} New
                    %li
                      %a{:href => "/tickets/deleted"} Deleted
                -if current_user.has_role? :admin
                  %li#users.dropdown.nav-li
                    %a.cus-navbar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      User
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/users"} List
                        %li.divider{:role => "separator"}
                      %li
                        %a{:href => "/users/deleted"} Deleted
                  %li#departments.dropdown.nav-li
                    %a.cus-navbar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      Department
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/departments"} List
                        %li.divider{:role => "separator"}
                      %li
                        %a{:href => "/departments/new"} New
                      %li
                        %a{:href => "/departments/deleted"} Deleted
                  %li#issuesummaries.dropdown.nav-li
                    %a.cus-navbar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                      IssueSummary
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{:href => "/issuesummaries"} List
                        %li.divider{:role => "separator"}
                      %li
                        %a{:href => "/issuesummaries/new"} New
                      %li
                        %a{:href => "/issuesummaries/deleted"} Deleted
            %ul.nav.navbar-nav.navbar-right
              %li#user_profile.dropdown
                - if current_user
                  %a.cus-navbar.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    = current_user.fullname.blank? ? current_user.email : current_user.fullname
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "/users/edit"} Profile
                    %li.divider{:role => "separator"}
                    %li
                      = link_to 'Sign out', destroy_user_session_path , :method => :delete
                - else
                  %a{:href => "/users/sign_in"}Sign in
      #content
        .row
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-#{name}"
        = yield

    #footer
      %p Copyright © 2016 C-Metric - All rights reserved.