%h1 Sign up
%p
  Use the forms below to create or update the information we have on file for your account

= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :id => "clientLogin" }) do |f|
  = devise_error_messages!
  .field
    = f.label :fullname
    %br/
    = f.text_field :fullname, autofocus: true
  .field
    = f.label :phone
    %br/
    = f.text_field :phone
  .field
    = f.label :email
    %br/
    = f.email_field :email
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  %br/
  .actions
    = f.submit "Sign up", class: 'btn btn-primary'
  %p
    = render "users/shared/links"
